# ðŸ“Š EDA â€“ Exploratory Data Analysis
World Cup Holistic Impact Project

### Introduction
L'objectif de cette EDA est d'explorer les indicateurs Ã©conomiques, sociaux, environnementaux et urbains des pays hÃ´tes avant et aprÃ¨s la Coupe du Monde, afin d'identifier les tendances et impacts significatifs

###  Importation des librairies

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Chargement des datasets

In [2]:
dfEco=pd.read_csv('../Data Collection/economic_world_cup_data.csv')
dfEnv=pd.read_csv('../Data Collection/environmental_world_cup_data.csv')
dfSoc=pd.read_csv('../Data Collection/social_indicators.csv')
dfUrb=pd.read_csv('../Data Collection/urban_infrastructure_data.csv')
dfWhr=pd.read_csv('../Data Collection/WHR.csv')
dfFifa=pd.read_csv('../Data Collection/worldCupData.csv')

## EDA DataEco

In [3]:
dfEco.head()

,Country,Year,GDP_Growth,Inflation,FDI,Tourist_Arrivals,POP,Employment
0,BRA,2003,1.140829,14.714920,1.012301e+10,4133000.0,180622688.0,59.427
1,BRA,2004,5.759965,6.597185,1.816138e+10,4794000.0,182675143.0,60.579
2,BRA,2005,3.202132,6.869537,1.545998e+10,5358000.0,184688101.0,60.870
3,BRA,2006,3.961989,4.183568,1.941809e+10,5017000.0,186653106.0,61.143
4,BRA,2007,6.069871,3.641273,4.457949e+10,5026000.0,188552320.0,61.050

In [6]:
dfEco.shape

(110, 8)

In [4]:
dfEco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country           110 non-null    object
 1   Year              110 non-null    int64
 2   GDP_Growth        110 non-null    float64
 3   Inflation         110 non-null    float64
 4   FDI               110 non-null    float64
 5   Tourist_Arrivals  83 non-null     float64
 6   POP               110 non-null    float64
 7   Employment        110 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 7.0+ KB

In [5]:
dfEco.describe()

,Year,GDP_Growth,Inflation,FDI,Tourist_Arrivals,POP,Employment
count,110.000000,110.000000,110.000000,1.100000e+02,8.300000e+01,1.100000e+02,110.000000
mean,2013.500000,3.199902,5.008310,3.339614e+10,1.520268e+07,9.642152e+07,60.399891
std,6.373325,4.991717,3.962753,3.880251e+10,1.110823e+07,6.899670e+07,14.276435
min,2003.000000,-7.799994,-4.863278,-3.980094e+10,5.820000e+05,7.446820e+05,36.798000
25%,2008.000000,0.886090,2.258515,2.663388e+09,5.395500e+06,5.126808e+07,53.989750
50%,2013.500000,2.641687,4.514282,1.643239e+10,1.306900e+07,8.242294e+07,58.335000
75%,2019.000000,4.686204,6.836878,6.266752e+10,2.430500e+07,1.447222e+08,60.577750
max,2024.000000,26.170246,15.534396,1.767810e+11,3.956300e+07,2.119986e+08,87.461000