# Nettoyage

## Chargement dataset

In [5]:
import pandas as pd

dfEco=pd.read_csv('../Data Collection/economic_world_cup_data.csv')
dfEnv=pd.read_csv('../Data Collection/environmental_world_cup_data.csv')
dfSoc=pd.read_csv('../Data Collection/social_indicators.csv')
dfUrb=pd.read_csv('../Data Collection/urban_infrastructure_data.csv')
dfWhr=pd.read_csv('../Data Collection/WHR.csv',sep=';')
dfFifa=pd.read_csv('../Data Collection/worldCupData.csv')

## Filtrage et harmonisation des années par pays
- Germany => [2003;2009]
- South Africa => [2007;2013]
- Brazil => [2011;2017]
- Rusia => [2015;2021]
- Qatar => [2019;2025]

### Data ECO

In [ ]:
#  Germany => [2003;2009]

germny_data = dfEco[dfEco['Country'] == 'DEU']
germny_data = germny_data[(germny_data['Year'] >= 2003) & (germny_data['Year'] <= 2009)]
germny_data

,Country,Year,GDP_Growth,Inflation,FDI,Tourist_Arrivals,POP,Employment
22,DEU,2003,-0.529801,1.034222,6.540152e+10,18399000.0,82534176.0,52.190
23,DEU,2004,1.162087,1.665737,-2.040842e+10,20137000.0,82516260.0,51.294
24,DEU,2005,0.885485,1.546911,5.983520e+10,21500000.0,82469422.0,51.803
25,DEU,2006,3.866682,1.577426,8.744416e+10,23569000.0,82376451.0,52.934
26,DEU,2007,2.889117,2.298344,5.084718e+10,24421000.0,82266372.0,53.907
27,DEU,2008,0.887902,2.628380,3.095474e+10,24884000.0,82110097.0,54.651
28,DEU,2009,-5.544555,0.312739,5.670192e+10,24220000.0,81902307.0,54.545

In [ ]:
# South Africa => [2007;2013]

ZAF_data = dfEco[dfEco['Country'] == 'ZAF']
ZAF_data = ZAF_data[(ZAF_data['Year'] >= 2007) & (ZAF_data['Year'] <= 2013)]
ZAF_data

,Country,Year,GDP_Growth,Inflation,FDI,Tourist_Arrivals,POP,Employment
92,ZAF,2007,5.360474,6.177812,6.586792e+09,9208000.0,50528584.0,46.474
93,ZAF,2008,3.191044,9.909985,9.885001e+09,9729000.0,51114599.0,46.314
94,ZAF,2009,-1.538089,7.238095,7.624490e+09,9532000.0,51728516.0,44.402
95,ZAF,2010,3.039733,4.067496,3.693272e+09,11303000.0,52344051.0,40.800
96,ZAF,2011,3.168556,5.000853,4.139289e+09,12097000.0,52995205.0,42.330
97,ZAF,2012,2.396232,5.737971,4.626029e+09,13069000.0,53782567.0,42.122
98,ZAF,2013,2.485468,5.780169,8.232519e+09,14318000.0,54678791.0,42.411

In [20]:
# Brazil => [2011;2017]
BRA_data = dfEco[dfEco['Country'] == 'BRA']
BRA_data = BRA_data[(BRA_data['Year'] >= 2011) & (BRA_data['Year'] <= 2017)]
BRA_data

,Country,Year,GDP_Growth,Inflation,FDI,Tourist_Arrivals,POP,Employment
8,BRA,2011,3.974423,6.636450,1.024272e+11,5433000.0,195284734.0,59.955
9,BRA,2012,1.921176,5.403499,9.256839e+10,5677000.0,196876111.0,59.739
10,BRA,2013,3.004823,6.204311,7.521103e+10,5813000.0,198478299.0,59.766
11,BRA,2014,0.503956,6.329040,8.771398e+10,6430000.0,200085127.0,59.714
12,BRA,2015,-3.545763,9.029901,6.473815e+10,6306000.0,201675532.0,58.787
13,BRA,2016,-3.275917,8.739144,7.429463e+10,6547000.0,203218114.0,56.845
14,BRA,2017,1.322869,3.446373,6.888549e+10,6589000.0,204703445.0,56.271

In [21]:
# Russia => [2015;2021]

RUS_data = dfEco[dfEco['Country'] == 'RUS']
RUS_data = RUS_data[(RUS_data['Year'] >= 2015) & (RUS_data['Year'] <= 2021)]
RUS_data

,Country,Year,GDP_Growth,Inflation,FDI,Tourist_Arrivals,POP,Employment
78,RUS,2015,-1.972719,15.534396,6.852970e+09,33729000.0,144640716.0,59.227
79,RUS,2016,0.193690,7.042437,3.253890e+10,24571000.0,145015460.0,59.394
80,RUS,2017,1.825790,3.683331,2.855744e+10,24390000.0,145293260.0,59.248
81,RUS,2018,2.807245,2.878314,8.784850e+09,24551000.0,145398106.0,59.440
82,RUS,2019,2.198076,4.472026,3.197477e+10,24419000.0,145453291.0,58.944
83,RUS,2020,-2.653655,3.382198,9.478810e+09,6359000.0,145245148.0,57.970
84,RUS,2021,5.866492,6.694459,4.045000e+10,NaN,144746762.0,59.060

In [22]:
# Qatar => [2019;2025]

QAT_data = dfEco[dfEco['Country'] == 'QAT']
QAT_data = QAT_data[(QAT_data['Year'] >= 2019) & (QAT_data['Year'] <= 2025)]
QAT_data

,Country,Year,GDP_Growth,Inflation,FDI,Tourist_Arrivals,POP,Employment
60,QAT,2019,0.688256,-0.666641,-2.812637e+09,2136500.0,2638657.0,87.345
61,QAT,2020,-3.557503,-2.540315,-2.434066e+09,582000.0,2794148.0,86.983
62,QAT,2021,1.626936,2.304466,-1.093407e+09,NaN,2504910.0,86.243
63,QAT,2022,4.184970,4.995276,7.609890e+07,NaN,2657333.0,87.461
64,QAT,2023,1.539791,3.027649,-4.741758e+08,NaN,2656032.0,87.436
65,QAT,2024,2.359706,1.267343,4.601648e+08,NaN,2857822.0,87.358

In [26]:
# Concaténation des données économiques pour les 5 pays hôtes
dfEco = pd.concat([germny_data, ZAF_data, BRA_data, RUS_data, QAT_data], ignore_index=True)
dfEco.value_counts('Country')

Country
BRA    7
DEU    7
RUS    7
ZAF    7
QAT    6
Name: count, dtype: int64

In [30]:
print("les valeurs nulls dans le dataset économique :",dfEco.isnull().sum())
print("\n\nles doublants dans le dataset économique :",dfEco.duplicated().sum())

les valeurs nulls dans le dataset économique : Country             0
Year                0
GDP_Growth          0
Inflation           0
FDI                 0
Tourist_Arrivals    5
POP                 0
Employment          0
dtype: int64


les doublants dans le dataset économique : 0

In [34]:
dfEco.to_csv('../Data Clean/cleaned_economic_world_cup_data.csv', index=False)