# Nettoyage

## Chargement dataset

In [1]:
import pandas as pd

dfEco=pd.read_csv('../Data Collection/economic_world_cup_data.csv')
dfEnv=pd.read_csv('../Data Collection/environmental_world_cup_data.csv')
dfSoc=pd.read_csv('../Data Collection/social_indicators.csv')
dfUrb=pd.read_csv('../Data Collection/urban_infrastructure_data.csv')
dfWhr=pd.read_csv('../Data Collection/WHR.csv',sep=';')
dfFifa=pd.read_csv('../Data Collection/worldCupData.csv')

## Filtrage et harmonisation des années par pays
- Germany => [2003;2009]
- South Africa => [2007;2013]
- Brazil => [2011;2017]
- Rusia => [2015;2021]
- Qatar => [2019;2025]

### Data ECO

In [2]:
#  Germany => [2003;2009]

germny_data = dfEco[dfEco['Country'] == 'DEU']
germny_data = germny_data[(germny_data['Year'] >= 2003) & (germny_data['Year'] <= 2009)]
germny_data

,Country,Year,GDP_Growth,Inflation,FDI,Tourist_Arrivals,POP,Employment
22,DEU,2003,-0.529801,1.034222,6.540152e+10,18399000.0,82534176.0,52.190
23,DEU,2004,1.162087,1.665737,-2.040842e+10,20137000.0,82516260.0,51.294
24,DEU,2005,0.885485,1.546911,5.983520e+10,21500000.0,82469422.0,51.803
25,DEU,2006,3.866682,1.577426,8.744416e+10,23569000.0,82376451.0,52.934
26,DEU,2007,2.889117,2.298344,5.084718e+10,24421000.0,82266372.0,53.907
27,DEU,2008,0.887902,2.628380,3.095474e+10,24884000.0,82110097.0,54.651
28,DEU,2009,-5.544555,0.312739,5.670192e+10,24220000.0,81902307.0,54.545

In [3]:
# South Africa => [2007;2013]

ZAF_data = dfEco[dfEco['Country'] == 'ZAF']
ZAF_data = ZAF_data[(ZAF_data['Year'] >= 2007) & (ZAF_data['Year'] <= 2013)]
ZAF_data

,Country,Year,GDP_Growth,Inflation,FDI,Tourist_Arrivals,POP,Employment
92,ZAF,2007,5.360474,6.177812,6.586792e+09,9208000.0,50528584.0,46.474
93,ZAF,2008,3.191044,9.909985,9.885001e+09,9729000.0,51114599.0,46.314
94,ZAF,2009,-1.538089,7.238095,7.624490e+09,9532000.0,51728516.0,44.402
95,ZAF,2010,3.039733,4.067496,3.693272e+09,11303000.0,52344051.0,40.800
96,ZAF,2011,3.168556,5.000853,4.139289e+09,12097000.0,52995205.0,42.330
97,ZAF,2012,2.396232,5.737971,4.626029e+09,13069000.0,53782567.0,42.122
98,ZAF,2013,2.485468,5.780169,8.232519e+09,14318000.0,54678791.0,42.411

In [4]:
# Brazil => [2011;2017]
BRA_data = dfEco[dfEco['Country'] == 'BRA']
BRA_data = BRA_data[(BRA_data['Year'] >= 2011) & (BRA_data['Year'] <= 2017)]
BRA_data

,Country,Year,GDP_Growth,Inflation,FDI,Tourist_Arrivals,POP,Employment
8,BRA,2011,3.974423,6.636450,1.024272e+11,5433000.0,195284734.0,59.955
9,BRA,2012,1.921176,5.403499,9.256839e+10,5677000.0,196876111.0,59.739
10,BRA,2013,3.004823,6.204311,7.521103e+10,5813000.0,198478299.0,59.766
11,BRA,2014,0.503956,6.329040,8.771398e+10,6430000.0,200085127.0,59.714
12,BRA,2015,-3.545763,9.029901,6.473815e+10,6306000.0,201675532.0,58.787
13,BRA,2016,-3.275917,8.739144,7.429463e+10,6547000.0,203218114.0,56.845
14,BRA,2017,1.322869,3.446373,6.888549e+10,6589000.0,204703445.0,56.271

In [5]:
# Russia => [2015;2021]

RUS_data = dfEco[dfEco['Country'] == 'RUS']
RUS_data = RUS_data[(RUS_data['Year'] >= 2015) & (RUS_data['Year'] <= 2021)]
RUS_data

,Country,Year,GDP_Growth,Inflation,FDI,Tourist_Arrivals,POP,Employment
78,RUS,2015,-1.972719,15.534396,6.852970e+09,33729000.0,144640716.0,59.227
79,RUS,2016,0.193690,7.042437,3.253890e+10,24571000.0,145015460.0,59.394
80,RUS,2017,1.825790,3.683331,2.855744e+10,24390000.0,145293260.0,59.248
81,RUS,2018,2.807245,2.878314,8.784850e+09,24551000.0,145398106.0,59.440
82,RUS,2019,2.198076,4.472026,3.197477e+10,24419000.0,145453291.0,58.944
83,RUS,2020,-2.653655,3.382198,9.478810e+09,6359000.0,145245148.0,57.970
84,RUS,2021,5.866492,6.694459,4.045000e+10,7080000.0,144746762.0,59.060

In [6]:
# Qatar => [2019;2025]

QAT_data = dfEco[dfEco['Country'] == 'QAT']
QAT_data = QAT_data[(QAT_data['Year'] >= 2019) & (QAT_data['Year'] <= 2025)]
QAT_data

,Country,Year,GDP_Growth,Inflation,FDI,Tourist_Arrivals,POP,Employment
60,QAT,2019,0.688256,-0.666641,-2.812637e+09,2136500.0,2638657.0,87.345
61,QAT,2020,-3.557503,-2.540315,-2.434066e+09,582000.0,2794148.0,86.983
62,QAT,2021,1.626936,2.304466,-1.093407e+09,611000.0,2504910.0,86.243
63,QAT,2022,4.184970,4.995276,7.609890e+07,2560000.0,2657333.0,87.461
64,QAT,2023,1.539791,3.027649,-4.741758e+08,4054000.0,2656032.0,87.436
65,QAT,2024,2.359706,1.267343,4.601648e+08,5074000.0,2857822.0,87.358

In [7]:
# Concaténation des données économiques pour les 5 pays hôtes
dfEco = pd.concat([germny_data, ZAF_data, BRA_data, RUS_data, QAT_data], ignore_index=True)
dfEco.value_counts('Country')

Country
BRA    7
DEU    7
RUS    7
ZAF    7
QAT    6
Name: count, dtype: int64

In [8]:
print("les valeurs nulls dans le dataset économique :",dfEco.isnull().sum())
print("\n\nles doublants dans le dataset économique :",dfEco.duplicated().sum())

les valeurs nulls dans le dataset économique : Country             0
Year                0
GDP_Growth          0
Inflation           0
FDI                 0
Tourist_Arrivals    0
POP                 0
Employment          0
dtype: int64


les doublants dans le dataset économique : 0

In [9]:
dfEco.to_csv('../Data Clean/cleaned_economic_world_cup_data.csv', index=False)

### Data Env

In [10]:
#  Germany => [2003;2009]

germny_data = dfEnv[dfEnv['Country'] == 'DEU']
germny_data = germny_data[(germny_data['Year'] >= 2003) & (germny_data['Year'] <= 2009)]
germny_data

,Country,Year,Air_transport_passengers,Energy_Use_per_capita,Renewable_Energy_pct
22,DEU,2003,72693124.0,4096.477943,5.4
23,DEU,2004,82099657.0,4131.610837,6.3
24,DEU,2005,90788848.0,4109.880586,7.3
25,DEU,2006,99647314.0,4235.938766,8.6
26,DEU,2007,106101747.0,4023.739359,10.5
27,DEU,2008,107941584.0,4081.879987,10.2
28,DEU,2009,103396735.0,3821.625006,10.7

In [11]:
# South Africa => [2007;2013]
ZAF_data = dfEnv[dfEnv['Country'] == 'ZAF']
ZAF_data = ZAF_data[(ZAF_data['Year'] >= 2007) & (ZAF_data['Year'] <= 2013)]
ZAF_data

,Country,Year,Air_transport_passengers,Energy_Use_per_capita,Renewable_Energy_pct
92,ZAF,2007,1.287032e+07,2576.785040,8.7
93,ZAF,2008,1.313544e+07,2738.084674,9.7
94,ZAF,2009,1.250363e+07,2735.006185,9.2
95,ZAF,2010,1.578121e+07,2518.441903,9.4
96,ZAF,2011,1.640778e+07,2536.414176,9.0
97,ZAF,2012,1.757157e+07,2394.397987,8.3
98,ZAF,2013,1.631125e+07,2341.179232,7.8

In [12]:
# Brazil => [2011;2017]
BRA_data = dfEnv[dfEnv['Country'] == 'BRA']     
BRA_data = BRA_data[(BRA_data['Year'] >= 2011) & (BRA_data['Year'] <= 2017)]
BRA_data

,Country,Year,Air_transport_passengers,Energy_Use_per_capita,Renewable_Energy_pct
8,BRA,2011,87860363.0,1390.007836,45.2
9,BRA,2012,94752568.0,1433.153064,43.5
10,BRA,2013,95591641.0,1487.457458,42.3
11,BRA,2014,100403628.0,1522.421890,41.7
12,BRA,2015,102039359.0,1482.020579,43.7
13,BRA,2016,94142377.0,1414.897931,45.4
14,BRA,2017,96395709.0,1431.959497,45.3

In [13]:
# Russia => [2015;2021]
RUS_data = dfEnv[dfEnv['Country'] == 'RUS']
RUS_data = RUS_data[(RUS_data['Year'] >= 2015) & (RUS_data['Year'] <= 2021)]
RUS_data

,Country,Year,Air_transport_passengers,Energy_Use_per_capita,Renewable_Energy_pct
78,RUS,2015,76846126.0,4785.195725,3.2
79,RUS,2016,77458318.0,4917.540839,3.4
80,RUS,2017,89373638.0,4999.079908,3.2
81,RUS,2018,99327311.0,5259.908376,3.2
82,RUS,2019,108857906.0,5065.148209,3.2
83,RUS,2020,62447448.0,5044.853669,3.7
84,RUS,2021,96851769.0,5681.392480,3.5

In [14]:
# Qatar => [2019;2025]
QAT_data = dfEnv[dfEnv['Country'] == 'QAT']
QAT_data = QAT_data[(QAT_data['Year'] >= 2019) & (QAT_data['Year'] <= 2025)]
QAT_data

,Country,Year,Air_transport_passengers,Energy_Use_per_capita,Renewable_Energy_pct
60,QAT,2019,38804046.0,15760.736902,0.1
61,QAT,2020,12558967.0,14869.250108,0.0
62,QAT,2021,17703274.0,17100.750612,0.0
63,QAT,2022,35734243.0,16683.663610,0.1
64,QAT,2023,45918391.0,14570.000000,0.1
65,QAT,2024,52729236.0,15200.000000,0.1

In [15]:
# Concaténation des données économiques pour les 5 pays hôtes
dfEnv = pd.concat([germny_data, ZAF_data, BRA_data, RUS_data, QAT_data], ignore_index=True)
dfEnv.value_counts('Country')

Country
BRA    7
DEU    7
RUS    7
ZAF    7
QAT    6
Name: count, dtype: int64

In [16]:
print("les valeurs nulls dans le dataset  :",dfEnv.isnull().sum())
print("\n\nles doublants dans le dataset  :",dfEnv.duplicated().sum())

les valeurs nulls dans le dataset  : Country                     0
Year                        0
Air_transport_passengers    0
Energy_Use_per_capita       0
Renewable_Energy_pct        0
dtype: int64


les doublants dans le dataset  : 0

In [17]:
dfEnv.to_csv('../Data Clean/cleaned_envirennement_world_cup_data.csv', index=False)

### Data Soc

In [18]:
# germany => [2003;2009]
germny_data = dfSoc[dfSoc['Country'] == 'DEU']
germny_data = germny_data[(germny_data['Year'] >= 2003) & (germny_data['Year'] <= 2009)]
germny_data

   Country  Year  GDP_per_capita  Crime_rate  Participation_rate
22     DEU  2003    30711.102251    1.335986              57.846
23     DEU  2004    34566.735914    1.354566              57.458
24     DEU  2005    35084.436355    1.272446              58.332
25     DEU  2006    36980.334995    1.209273              58.997
26     DEU  2007    42350.921721    1.092271              59.065
27     DEU  2008    46379.164795    1.024525              59.087
28     DEU  2009    42471.886863    0.992151              59.211

In [19]:
# South Africa => [2007;2013]
ZAF_data = dfSoc[dfSoc['Country'] == 'ZAF']
ZAF_data = ZAF_data[(ZAF_data['Year'] >= 2007) & (ZAF_data['Year'] <= 2013)]
ZAF_data

   Country  Year  GDP_per_capita  Crime_rate  Participation_rate
92     ZAF  2007     6591.855360   36.415032              59.802
93     ZAF  2008     6184.754743   35.379325              59.688
94     ZAF  2009     6374.705600   32.413456              58.059
95     ZAF  2010     7973.471958   30.362572              54.171
96     ZAF  2011     8646.055711   29.349825              56.169
97     ZAF  2012     8076.976785   30.145456              55.959
98     ZAF  2013     7331.654674   31.132729              56.219

In [20]:
# brazil => [2011;2017]
BRA_data = dfSoc[dfSoc['Country'] == 'BRA']
BRA_data = BRA_data[(BRA_data['Year'] >= 2011) & (BRA_data['Year'] <= 2017)]
BRA_data

   Country  Year  GDP_per_capita  Crime_rate  Participation_rate
8      BRA  2011    13396.626316   26.747098              64.870
9      BRA  2012    12521.723845   28.641362              64.409
10     BRA  2013    12458.890340   28.640411              64.314
11     BRA  2014    12274.994163   29.853793              64.040
12     BRA  2015     8936.195589   28.850302              64.275
13     BRA  2016     8836.285460   30.119362              64.290
14     BRA  2017    10080.507872   31.161176              64.525

In [21]:
# Russia => [2015;2021]
RUS_data = dfSoc[dfSoc['Country'] == 'RUS']
RUS_data = RUS_data[(RUS_data['Year'] >= 2015) & (RUS_data['Year'] <= 2021)]
RUS_data

   Country  Year  GDP_per_capita  Crime_rate  Participation_rate
78     RUS  2015     9277.713867   11.455697              62.750
79     RUS  2016     8663.158203   10.882250              62.912
80     RUS  2017    10658.913086    9.093160              62.523
81     RUS  2018    11211.887695    8.170449              62.484
82     RUS  2019    11447.701172    7.644691              61.730
83     RUS  2020    10108.327148    7.308127              61.422
84     RUS  2021    12425.029297    6.765125              62.005

In [22]:
# Qatar => [2019;2025]
QAT_data = dfSoc[dfSoc['Country'] == 'QAT']
QAT_data = QAT_data[(QAT_data['Year'] >= 2019) & (QAT_data['Year'] <= 2025)]
QAT_data

   Country  Year  GDP_per_capita  Crime_rate  Participation_rate
60     QAT  2019    66841.362319    0.393149              87.433
61     QAT  2020    51683.568108    0.428055              87.105
62     QAT  2021    71751.936340    0.319718              86.363
63     QAT  2022    88701.468976    0.069145              87.575
64     QAT  2023    81816.979797    0.100000              87.550
65     QAT  2024    76688.694174    0.150000              87.468

In [23]:
# Concaténation des données social pour les 5 pays hôtes
dfSoc = pd.concat([germny_data, ZAF_data, BRA_data, RUS_data, QAT_data], ignore_index=True)
dfSoc.value_counts('Country')

Country
BRA    7
DEU    7
RUS    7
ZAF    7
QAT    6
Name: count, dtype: int64

In [24]:
print("les valeurs nulls dans le dataset économique :",dfSoc.isnull().sum())
print("\n\nles doublants dans le dataset économique :",dfSoc.duplicated().sum())

les valeurs nulls dans le dataset économique : Country               0
Year                  0
GDP_per_capita        0
Crime_rate            0
Participation_rate    0
dtype: int64


les doublants dans le dataset économique : 0

In [25]:
dfSoc.to_csv('../Data Clean/cleaned_social_world_cup_data.csv', index=False)

### Data Urb

In [26]:
# germany => [2003;2009]
germny_data = dfUrb[dfUrb['Country'] == 'DEU']
germny_data = germny_data[(germny_data['Year'] >= 2003) & (germny_data['Year'] <= 2009)]
germny_data

,Country,Year,Infra_invest_%GDP,Urban_population_%,Internet_users_%,Mobile_subscriptions
22,DEU,2003,19.576626,80.137312,55.90,78.9170
23,DEU,2004,19.021386,80.154969,64.73,86.8798
24,DEU,2005,18.735526,80.174517,68.71,96.6169
25,DEU,2006,19.897947,80.196100,72.16,104.8350
26,DEU,2007,20.787343,80.219864,75.16,118.3700
27,DEU,2008,20.886733,80.245955,78.00,130.0970
28,DEU,2009,18.006432,80.274519,79.00,129.7330

In [27]:
# south Africa => [2007;2013]
ZAF_data = dfUrb[dfUrb['Country'] == 'ZAF']     
ZAF_data = ZAF_data[(ZAF_data['Year'] >= 2007) & (ZAF_data['Year'] <= 2013)]
ZAF_data

,Country,Year,Infra_invest_%GDP,Urban_population_%,Internet_users_%,Mobile_subscriptions
92,ZAF,2007,19.325965,61.184053,8.06538,83.7150
93,ZAF,2008,21.287249,61.769298,8.43000,88.0375
94,ZAF,2009,18.766944,62.259284,10.00000,89.7687
95,ZAF,2010,17.595645,62.629912,24.00000,96.2325
96,ZAF,2011,18.853238,62.850628,33.97000,120.7660
97,ZAF,2012,18.584535,62.961656,41.00000,127.1680
98,ZAF,2013,19.168763,63.052402,46.50000,140.5760

In [28]:
# brazil => [2011;2017]
BRA_data = dfUrb[dfUrb['Country'] == 'BRA']     
BRA_data = BRA_data[(BRA_data['Year'] >= 2011) & (BRA_data['Year'] <= 2017)]
BRA_data

,Country,Year,Infra_invest_%GDP,Urban_population_%,Internet_users_%,Mobile_subscriptions
8,BRA,2011,21.826271,84.622576,45.6900,120.008
9,BRA,2012,21.417225,84.897387,48.5600,126.132
10,BRA,2013,21.693767,85.167659,51.0400,136.589
11,BRA,2014,20.548411,85.433137,54.5510,140.305
12,BRA,2015,17.411626,85.693570,58.3280,127.836
13,BRA,2016,14.969547,85.948705,60.8725,120.101
14,BRA,2017,14.625588,86.198290,67.4713,108.093

In [29]:
#russia => [2015;2021]
RUS_data = dfUrb[dfUrb['Country'] == 'RUS']
RUS_data = RUS_data[(RUS_data['Year'] >= 2015) & (RUS_data['Year'] <= 2021)]
RUS_data

,Country,Year,Infra_invest_%GDP,Urban_population_%,Internet_users_%,Mobile_subscriptions
78,RUS,2015,22.148725,74.275919,70.0992,156.419
79,RUS,2016,23.095422,74.370314,73.0914,157.174
80,RUS,2017,23.606756,74.460037,76.0081,155.486
81,RUS,2018,21.918089,74.544293,80.8647,156.683
82,RUS,2019,22.661514,74.622286,82.6422,163.646
83,RUS,2020,23.455829,74.693222,84.9947,163.101
84,RUS,2021,23.009339,74.751684,88.2138,169.073

In [30]:
# qatar => [2019;2025]
QAT_data = dfUrb[dfUrb['Country'] == 'QAT']
QAT_data = QAT_data[(QAT_data['Year'] >= 2019) & (QAT_data['Year'] <= 2025)]
QAT_data

,Country,Year,Infra_invest_%GDP,Urban_population_%,Internet_users_%,Mobile_subscriptions
60,QAT,2019,43.735366,99.119170,99.6528,140.017
61,QAT,2020,43.849151,99.161791,99.6528,135.498
62,QAT,2021,36.801535,99.203409,99.6528,137.710
63,QAT,2022,30.643233,99.243998,99.6528,162.249
64,QAT,2023,28.500000,99.283533,99.6528,157.821
65,QAT,2024,27.000000,99.321989,99.6528,153.610

In [31]:
# Concaténation des données économiques pour les 5 pays hôtes
dfUrb = pd.concat([germny_data, ZAF_data, BRA_data, RUS_data, QAT_data], ignore_index=True)
dfUrb.value_counts('Country')

Country
BRA    7
DEU    7
RUS    7
ZAF    7
QAT    6
Name: count, dtype: int64

In [32]:
print("les valeurs nulls dans le dataset économique :",dfUrb.isnull().sum())
print("\n\nles doublants dans le dataset économique :",dfUrb.duplicated().sum())

les valeurs nulls dans le dataset économique : Country                 0
Year                    0
Infra_invest_%GDP       0
Urban_population_%      0
Internet_users_%        0
Mobile_subscriptions    0
dtype: int64


les doublants dans le dataset économique : 0

In [33]:
dfUrb.to_csv('../Data Clean/cleaned_urban_world_cup_data.csv', index=False)